.shop {
    width: 100%;
    padding: 20px; /* Добавим внутренний отступ для улучшения визуального восприятия */
    box-sizing: border-box; /* Учтем внутренний отступ в общей ширине элемента */
}

.shopTitle {
    margin-top: 20px; /* Уменьшим отступ сверху для лучшей компактности */
    text-align: center;
    font-size: 2rem; /* Заменим абсолютное значение на относительное для лучшей адаптивности */
}

.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Используем автоматический перенос элементов в зависимости от доступной ширины */
    gap: 20px; /* Добавим промежуток между элементами */
}

.product {
    border-radius: 15px;
    width: 100%; /* Сделаем блоки товаров занимающими 100% ширины родительского контейнера */
    max-width: 300px; /* Добавим максимальную ширину, чтобы контент не растягивался слишком сильно на больших экранах */
    height: auto;
    margin: 0 auto; /* Центрируем блоки товаров по горизонтали */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавим тень для подчеркивания отдельных блоков товаров */
    padding: 20px; /* Добавим внутренний отступ для улучшения визуального восприятия */
    box-sizing: border-box; /* Учтем внутренний отступ в общей высоте элемента */
}

.product img {
    max-width: 100%;
    height: 200px; /* Зафиксируем высоту изображения, например, 200px */
    object-fit: cover; /* Обрежем изображение, чтобы оно полностью заполняло контейнер */
    /*object-position: center; /* Центрируем изображение внутри контейнера */
}

.product {
    position: relative; /* Добавим позиционирование для правильного отображения абсолютно позиционированных элементов */
}

.product::before {
    content: ""; /* Создаем псевдоэлемент для затемнения области */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Начальное значение прозрачности */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    border-radius: 15px; /* Скруглим углы */
}

.product:hover::before {
    background-color: rgba(0, 0, 0, 0.5); /* При наведении затемним область */
}

.addToCartBttn {
    display: none; /* Изначально кнопка скрыта */
    position: absolute; /* Абсолютное позиционирование относительно блока .product */
    top: 50%;  /* Выравнивание по центру относительно вертикали */
    left: 50%; /* Выравнивание по центру относительно горизонтали*/
    transform: translate(-50%, -50%); /* Центрирование по горизонтали */
    z-index: 1; /* Поместим кнопку выше затемненного фона */
}

.product:hover .addToCartBttn {
    display: block; /* Показываем кнопку при наведении на блок .product */
}


.description {
    margin-top: 20px; /* Уменьшим отступ сверху для лучшей компактности */
    text-align: center;
    font-size: 2rem; /* Заменим абсолютное значение на относительное для лучшей адаптивности */
}

